NEXT_PUBLIC_SUPABASE_URL=https://xjiqxirhtrveqvxwqdyz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqaXF4aXJodHJ2ZXF2eHdxZHl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4Mjk0MzksImV4cCI6MjEwMjQwNTQzOX0.N7pT2fm3I2H_xxErcGm82GyYpMVyCiwCVaGxVNFo9BU
